[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
argparse = "*"
cvxpy = "*"
pyscipopt = "*"
yfinance = "*"
matplotlib = "*"
seaborn = "*"
scikit-learn = "*"
pyportfolioopt = "*"
statsmodels = "*"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.12.7"
