[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
argparse = "*"
cvxpy = "*"
pyscipopt = "*"
yfinance = "*"
matplotlib = "*"
seaborn = "*"
scikit-learn = "*"
pyportfolioopt = "*"
statsmodels = "*"
bt = "*"
pyyaml = "*"
duckdb = "*"
portopt = {file = ".", editable = true}
ibis-framework = {extras = ["duckdb"], version = "*"}

[dev-packages]
ipykernel = "*"
pytest = "*"

[requires]
python_version = "3.12.7"
